In [103]:
a=10
print(type(a))

<class 'int'>

In [104]:
a=20.5
print(type(a))

<class 'float'>

In [105]:
a="shanthi"
print(type(a))

<class 'str'>

In [106]:
a='shanthi'
print(type(a))

<class 'str'>

In [107]:
a=20
b=30
c=a+b
print(c)

50

In [108]:
a="aaa"
b="bbb"
print(a+" "+b)

aaa bbb

In [109]:
a="shanthi"
b="achari"
c="Uppunda"
print("My name is {0} and my caste is {1} from {2}".format(a,b,c))

My name is shanthi and my caste is achari from Uppunda

In [110]:
a="shanthi"
b="achari"
c="Uppunda"
print("My name is",a,"and my caste is",b,"from",c)

My name is shanthi and my caste is achari from Uppunda

In [111]:
#string manupulation
a="shanthi"
b="achari"
c="Uppunda"
print("My name is "+a+" and my caste is "+b+" from "+c)

My name is shanthi and my caste is achari from Uppunda

In [112]:
#valid variable names
first_name=10
_myname=10
bob232=10
firstName=10

In [113]:
#invalid variable names
# first name
# first-name
# 232bob

In [114]:
# list

singleDigitEvenNumbers=[0,2,4,6,8]
student=[101,"Shanthi",84.45,"Udupi"]
print(type(singleDigitEvenNumbers))

<class 'list'>

In [115]:
len(singleDigitEvenNumbers)

5

In [116]:
name="Shanthi"
len(name)

7

In [117]:
numbers=[]
print(numbers)

[]

In [118]:
numbers=[1,2]
print(numbers)

[1, 2]

In [119]:
numbers.append(3)
print(numbers)

[1, 2, 3]

In [120]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [121]:
print(numbers[2])

3

In [122]:
anothernum=[5,6,7,8]

In [123]:
print(numbers+anothernum)

[1, 2, 3, 4, 5, 6, 7, 8]

In [125]:
print(numbers)

[1, 2, 3, 4]

In [126]:
numbers.extend(anothernum)

In [128]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [129]:
#numbers.insert(position,value)

numbers.insert(5,11)
print(numbers)

[1, 2, 3, 4, 5, 11, 6, 7, 8]

In [130]:
# pop removes last element of the list
numbers.pop()
print(numbers)

[1, 2, 3, 4, 5, 11, 6, 7]

In [131]:
popedElement=numbers.pop()
print(numbers)
print(popedElement)

[1, 2, 3, 4, 5, 11, 6]
7

In [132]:
numbers.remove(11)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [135]:
# get the position of the element
diff=[4,2,8,6,4,11,65,23]
print(diff.index(65))
print(diff.index(4))
diff.

6
0

In [138]:
# IMP
diff=[4,2,8,6,4,11,65,23]
diff.reverse()
print(diff)

[23, 65, 11, 4, 6, 8, 2, 4]

In [139]:
# IMP
unsortedList=[4,3,6,1,0,9,12,76,34,8,2]
unsortedList.sort()
print(unsortedList)

[0, 1, 2, 3, 4, 6, 8, 9, 12, 34, 76]

In [151]:
lis=[4,3,6,1,0,9,12,76,34,8,2]
print(lis[0])

4

In [142]:
print(lis[10])

2

In [144]:
print(lis[-1])

2

In [146]:
print(lis[-2])

8

In [147]:
print(lis[0:4])

[4, 3, 6, 1]

In [148]:
print(lis[3:6])

[1, 0, 9]

In [153]:
print(lis[-4:-1])

[76, 34, 8]

In [155]:
print(lis[2::])

[6, 1, 0, 9, 12, 76, 34, 8, 2]

In [157]:
print(lis[-4::])

[76, 34, 8, 2]

In [159]:
print(lis[::-1])

[2, 8, 34, 76, 12, 9, 0, 1, 6, 3, 4]

In [160]:
name="Shanthi"
print(name[2])

a

In [161]:
print(name[::-1])

ihtnahS

In [162]:
print(name[2:6])

anth