In [30]:
a=10
print(type(a))

<class 'int'>

In [31]:
a=20.5
print(type(a))

<class 'float'>

In [32]:
a="shanthi"
print(type(a))

<class 'str'>

In [33]:
a='shanthi'
print(type(a))

<class 'str'>

In [81]:
#boolean

a=True
b=False
print(a,b)

True False

In [82]:
print(type(a))

<class 'bool'>

In [34]:
a=20
b=30
c=a+b
print(c)

50

In [35]:
a="aaa"
b="bbb"
print(a+" "+b)

aaa bbb

In [36]:
a="shanthi"
b="achari"
c="Uppunda"
print("My name is {0} and my caste is {1} from {2}".format(a,b,c))

My name is shanthi and my caste is achari from Uppunda

In [37]:
a="shanthi"
b="achari"
c="Uppunda"
print("My name is",a,"and my caste is",b,"from",c)

My name is shanthi and my caste is achari from Uppunda

In [38]:
#string manupulation
a="shanthi"
b="achari"
c="Uppunda"
print("My name is "+a+" and my caste is "+b+" from "+c)

My name is shanthi and my caste is achari from Uppunda

In [39]:
#valid variable names
first_name=10
_myname=10
bob232=10
firstName=10

In [40]:
#invalid variable names
# first name
# first-name
# 232bob

# List

In [41]:
# list

singleDigitEvenNumbers=[0,2,4,6,8]
student=[101,"Shanthi",84.45,"Udupi"]
print(type(singleDigitEvenNumbers))

<class 'list'>

In [42]:
len(singleDigitEvenNumbers)

5

In [43]:
name="Shanthi"
len(name)

7

In [44]:
numbers=[]
print(numbers)

[]

In [45]:
numbers=[1,2]
print(numbers)

[1, 2]

In [46]:
numbers.append(3)
print(numbers)

[1, 2, 3]

In [47]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [48]:
print(numbers[2])

3

In [49]:
anothernum=[5,6,7,8]

In [50]:
print(numbers+anothernum)

[1, 2, 3, 4, 5, 6, 7, 8]

In [51]:
print(numbers)

[1, 2, 3, 4]

In [52]:
numbers.extend(anothernum)

In [53]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
#numbers.insert(position,value)

numbers.insert(5,11)
print(numbers)

[1, 2, 3, 4, 5, 11, 6, 7, 8]

In [55]:
# pop removes last element of the list
numbers.pop()
print(numbers)

[1, 2, 3, 4, 5, 11, 6, 7]

In [56]:
popedElement=numbers.pop()
print(numbers)
print(popedElement)

[1, 2, 3, 4, 5, 11, 6]
7

In [57]:
numbers.remove(11)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [58]:
# get the position of the element
diff=[4,2,8,6,4,11,65,23]
print(diff.index(65))
print(diff.index(4))

6
0

In [59]:
# IMP
diff=[4,2,8,6,4,11,65,23]
diff.reverse()
print(diff)

[23, 65, 11, 4, 6, 8, 2, 4]

In [60]:
# IMP
unsortedList=[4,3,6,1,0,9,12,76,34,8,2]
unsortedList.sort()
print(unsortedList)

[0, 1, 2, 3, 4, 6, 8, 9, 12, 34, 76]

In [61]:
lis=[4,3,6,1,0,9,12,76,34,8,2]
print(lis[0])

4

In [62]:
print(lis[10])

2

In [63]:
print(lis[-1])

2

In [64]:
print(lis[-2])

8

In [65]:
print(lis[0:4])

[4, 3, 6, 1]

In [66]:
print(lis[3:6])

[1, 0, 9]

In [67]:
print(lis[-4:-1])

[76, 34, 8]

In [68]:
print(lis[2::])

[6, 1, 0, 9, 12, 76, 34, 8, 2]

In [69]:
print(lis[-4::])

[76, 34, 8, 2]

In [70]:
print(lis[::-1])

[2, 8, 34, 76, 12, 9, 0, 1, 6, 3, 4]

In [71]:
name="Shanthi"
print(name[2])

a

In [72]:
print(name[::-1])

ihtnahS

In [73]:
print(name[2:6])

anth

In [74]:
print(len("shanthi"))

7

In [75]:
lis=list("Shanthi")
print(lis)

['S', 'h', 'a', 'n', 't', 'h', 'i']

In [77]:
#single diamension
lis1=[1,2,3,4]

first=[101,"Bob",85]
second=[102,"Alice",96]
third=[103,"Sophia",88]

#2D Array
final_data=[first,second,third]
print(final_data)

[[101, 'Bob', 85], [102, 'Alice', 96], [103, 'Sophia', 88]]

In [78]:
print(final_data[0])

[101, 'Bob', 85]

In [79]:
print(final_data[0][1])

Bob

In [80]:
final_data[0][1]="Shanthi"
print(final_data)

[[101, 'Shanthi', 85], [102, 'Alice', 96], [103, 'Sophia', 88]]

# Tuple

In [84]:
lis=[12,3,4]
print(type(lis))
tup=(1,2,3,4)
print(type(tup))

<class 'list'>
<class 'tuple'>

In [87]:
a=tuple("shanthi")
print(a)

('s', 'h', 'a', 'n', 't', 'h', 'i')

In [89]:
a=(1,2,3,4)
print(a)

(1, 2, 3, 4)

In [92]:
a="shanthi","achar","bob"
print(a)

('shanthi', 'achar', 'bob')

In [93]:
a=1,2,3,4
print(a)

(1, 2, 3, 4)

In [95]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [96]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [99]:
(a,b,c)=(10,20,30)
print(a,b,c)

10 20 30

In [97]:
a=0
b=0
c=0
print(a,b,c)

0 0 0

In [98]:
a=b=c=0
print(a,b,c)

0 0 0

In [100]:
a=(1,2,3)
print(a[0])

1

In [101]:
a[0]=30
print(a)

TypeError: 'tuple' object does not support item assignment

In [102]:
#single diamension
lis1=(1,2,3,4)

first=(101,"Bob",85)
second=(102,"Alice",96)
third=(103,"Sophia",88)

#2D Array
final_data=(first,second,third)
print(final_data)

((101, 'Bob', 85), (102, 'Alice', 96), (103, 'Sophia', 88))

In [103]:
print(final_data[0][1])

Bob

In [104]:
final_data[0][1]="shanthi"

TypeError: 'tuple' object does not support item assignment

In [105]:
#   R.no  Name  Percentage

# ((101, 'Bob', 85), 
#  (102, 'Alice', 96), 
#  (103, 'Sophia', 88))

In [106]:
tup=(1,2,3,4,5)
lis=list(tup)
print(lis)

[1, 2, 3, 4, 5]

In [107]:
lis=[1,2,3,4,5]
tup=tuple(lis)
print(tup)

(1, 2, 3, 4, 5)